#if 0
/**
 * SPDX-FileCopyrightText: 2026 Kevin Kahl
 * SPDX-License-Identifier: Apache-2.0
 *
 *  Copyright 2026 Kevin Kahl
 *
 *  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
 *  in compliance with the License. You may obtain a copy of the License at:
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed
 *  on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License
 *  for the specific language governing permissions and limitations under the License.
 */
#endif
#include "common-bom.txt"
#if @defined(ENABLE_ATTRIBUTE_PASSIVE_CACHE) || @defined(ENABLE_ATTRIBUTE_SCAN_AND_SAVE)
@library(attrDataStore)
#endif
#ifdef ENABLE_BLACK_BOX
@library(blackBox)
#endif
@library(cluster0x0050-modeSelect)
@library(debugAndLogging)
@library(hubEventMake)
@library(hubEventRetire)
#ifeq @EVENT_SEQUENCING reorder
@library(eventSequencer)
#endif
@library(matterHelpers)
@library(matterMsgMake)
#ifdef ENABLE_POWER_REPORTING
@library(powerReporting)
#endif
@library(tlvParser)
@driver(DimmerVTM31-SN)
@driver(NotificationBarRGBW)
